* {
    box-sizing: border-box;
    font-family: Sans-Serif;
    font-weight: 800;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.site-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.info ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}
